USE [BANDONGHO]
GO
/****** Object:  User [CHUKN]    Script Date: 6/6/2022 4:18:41 PM ******/
CREATE USER [CHUKN] FOR LOGIN [CHUKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NVKN]    Script Date: 6/6/2022 4:18:41 PM ******/
CREATE USER [NVKN] FOR LOGIN [NVKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [CHUCUAHANG]    Script Date: 6/6/2022 4:18:41 PM ******/
CREATE ROLE [CHUCUAHANG]
GO
/****** Object:  DatabaseRole [NHANVIEN]    Script Date: 6/6/2022 4:18:41 PM ******/
CREATE ROLE [NHANVIEN]
GO
ALTER ROLE [CHUCUAHANG] ADD MEMBER [CHUKN]
GO
ALTER ROLE [db_owner] ADD MEMBER [CHUKN]
GO
ALTER ROLE [NHANVIEN] ADD MEMBER [NVKN]
GO
ALTER ROLE [db_owner] ADD MEMBER [CHUCUAHANG]
GO
/****** Object:  Table [dbo].[CT_PHIEUDAT]    Script Date: 6/6/2022 4:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUDAT](
	[MAPD] [nchar](10) NOT NULL,
	[MADH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL CONSTRAINT [DF_CT_PHIEUDAT_SOLUONG]  DEFAULT ((0)),
 CONSTRAINT [PK_CT_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[MAPD] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 6/6/2022 4:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MADH] [nchar](10) NOT NULL,
	[MAPN] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL CONSTRAINT [DF_CT_PHIEUNHAP_SOLUONG]  DEFAULT ((0)),
 CONSTRAINT [PK_CT_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC,
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONGHO]    Script Date: 6/6/2022 4:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGHO](
	[MADH] [nchar](10) NOT NULL,
	[TENDH] [nvarchar](50) NOT NULL,
	[GIABAN] [float] NULL,
	[GIANHAP] [float] NOT NULL,
	[SOLUONGTON] [int] NULL CONSTRAINT [DF_DONGHO_SOLUONGTON]  DEFAULT ((0)),
	[MAHANG] [nchar](10) NOT NULL,
	[MALOAI] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DONGHO] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANG]    Script Date: 6/6/2022 4:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG](
	[MAHANG] [nchar](10) NOT NULL,
	[TENHANG] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HANG] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/6/2022 4:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[EMAIL] [nchar](30) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 6/6/2022 4:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [nchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAI] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 6/6/2022 4:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nchar](30) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/6/2022 4:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nchar](10) NOT NULL,
	[EMAIL] [nchar](30) NOT NULL,
	[PASSWORD] [nchar](20) NULL CONSTRAINT [DF_NHANVIEN_PASSWORD]  DEFAULT ('123'),
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 6/6/2022 4:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[MAPD] [nchar](10) NOT NULL,
	[NGAYDAT] [date] NULL,
	[MAKH] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[TONGTIEN] [float] NULL CONSTRAINT [DF_PHIEUDAT_TONGTIEN]  DEFAULT ((0)),
 CONSTRAINT [PK_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[MAPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 6/6/2022 4:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nchar](10) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[MANCC] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CT_PHIEUDAT] ([MAPD], [MADH], [SOLUONG]) VALUES (N'PD001     ', N'DH001     ', 2)
INSERT [dbo].[CT_PHIEUDAT] ([MAPD], [MADH], [SOLUONG]) VALUES (N'PD001     ', N'DH002     ', 1)
INSERT [dbo].[CT_PHIEUNHAP] ([MADH], [MAPN], [SOLUONG]) VALUES (N'DH001     ', N'PN01      ', 3)
INSERT [dbo].[CT_PHIEUNHAP] ([MADH], [MAPN], [SOLUONG]) VALUES (N'DH002     ', N'PN01      ', 4)
INSERT [dbo].[DONGHO] ([MADH], [TENDH], [GIABAN], [GIANHAP], [SOLUONGTON], [MAHANG], [MALOAI]) VALUES (N'DH001     ', N'PATEK PHILIPPE', 8000000, 5000000, 1, N'HANG01    ', N'LOAI01    ')
INSERT [dbo].[DONGHO] ([MADH], [TENDH], [GIABAN], [GIANHAP], [SOLUONGTON], [MAHANG], [MALOAI]) VALUES (N'DH002     ', N'TAG HEUER', 9000000, 7000000, 3, N'HANG01    ', N'LOAI02    ')
INSERT [dbo].[DONGHO] ([MADH], [TENDH], [GIABAN], [GIANHAP], [SOLUONGTON], [MAHANG], [MALOAI]) VALUES (N'DH003     ', N'ROLEX SWISS MADE', 13000000, 10000000, 0, N'HANG02    ', N'LOAI02    ')
INSERT [dbo].[HANG] ([MAHANG], [TENHANG]) VALUES (N'HANG01    ', N'DIOR')
INSERT [dbo].[HANG] ([MAHANG], [TENHANG]) VALUES (N'HANG02    ', N'GUCCI')
INSERT [dbo].[KHACHHANG] ([MAKH], [HO], [TEN], [SDT], [EMAIL], [DIACHI]) VALUES (N'KH001     ', N'VÕ ĐÔNG', N'DUY', N'0345887451', N'DONGDUY@GMAIL.COM             ', N'LONG AN')
INSERT [dbo].[KHACHHANG] ([MAKH], [HO], [TEN], [SDT], [EMAIL], [DIACHI]) VALUES (N'KH002     ', N'NGUYỄN DOÃN', N'THÔNG', N'0142254441', N'DOANTHONG@GMAIL.COM           ', N'HÀ TĨNH')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'LOAI01    ', N'ĐỒNG HỒ ĐIỆN TỬ')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'LOAI02    ', N'ĐỒNG HỒ CƠ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [HO], [TEN], [DIACHI], [EMAIL], [SDT]) VALUES (N'NCC001    ', N'NGUYỄN VĂN', N'ĐOÀN', N'TP.HCM', N'NVDOAN@GMAIL.COM              ', N'0354844611')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [HO], [TEN], [DIACHI], [EMAIL], [SDT]) VALUES (N'NCC002    ', N'LÊ', N'THÀNH', N'TÂY NINH', N'LTHANH@GMAIL.COM              ', N'0345126887')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [PASSWORD]) VALUES (N'NV001     ', N'NGUYỄN THANH', N'DŨNG', CAST(N'2001-07-26' AS Date), N'PHÚ YÊN', N'0343263672', N'DUNG@GMAIL.COM                ', N'123                 ')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [PASSWORD]) VALUES (N'NV002     ', N'NGUYỄN THÁI', N'TƯỜNG', CAST(N'2001-05-15' AS Date), N'NGHỆ AN', N'0245874156', N'TUONG@GMAIL.COM               ', N'123                 ')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [PASSWORD]) VALUES (N'NV003     ', N'NGUYỄN MINH', N'KHANG', CAST(N'2001-06-03' AS Date), N'TP.HCM', N'0247789451', N'KHANG@GMAIL.COM               ', N'123                 ')
INSERT [dbo].[PHIEUDAT] ([MAPD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN]) VALUES (N'PD001     ', CAST(N'2022-05-23' AS Date), N'KH001     ', N'NV001     ', 25000000)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MANCC], [MANV], [TONGTIEN]) VALUES (N'PN01      ', CAST(N'2022-05-22' AS Date), N'NCC001    ', N'NV001     ', 43000000)
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUDAT_DONGHO] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONGHO] ([MADH])
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_CT_PHIEUDAT_DONGHO]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUDAT_PHIEUDAT] FOREIGN KEY([MAPD])
REFERENCES [dbo].[PHIEUDAT] ([MAPD])
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_CT_PHIEUDAT_PHIEUDAT]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_DONGHO] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONGHO] ([MADH])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_DONGHO]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[DONGHO]  WITH CHECK ADD  CONSTRAINT [FK_DONGHO_HANG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
GO
ALTER TABLE [dbo].[DONGHO] CHECK CONSTRAINT [FK_DONGHO_HANG]
GO
ALTER TABLE [dbo].[DONGHO]  WITH CHECK ADD  CONSTRAINT [FK_DONGHO_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[DONGHO] CHECK CONSTRAINT [FK_DONGHO_LOAI]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYTHONGTIN_NHANVIEN_DANGNHAP]    Script Date: 6/6/2022 4:18:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAYTHONGTIN_NHANVIEN_DANGNHAP]
@MANV NCHAR(10), @PASSWORD NCHAR(20)
AS
BEGIN 
SELECT MANV, HOTEN = HO + ' ' + TEN FROM NHANVIEN WHERE @MANV = MANV AND @PASSWORD = NHANVIEN.PASSWORD
END
GO
